.footer{
    height: 4.5rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.img-wrapper{
    width: 10%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
    }
}