@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
}

.remove-btn{
    height: 1.6rem;
    width: 1.6rem;
}

.required:after {
    content:" *";
    color: var(--danger-color);
  }