<div class="list" [ngClass]="listItems.length == 0 ? 'displayEmpty' : ''">
  <label
    for=""
    id="{{ i }}"
    *ngFor="let item of listItems; let i = index"
    (click)="onSelect(i)"
    class="text-white"
    >{{ item.name }}
    <div *ngIf="item.selected" id="tick-mark"></div>
  </label>
</div>

<form [formGroup]="form">
  <label
    class="block tracking-wide text-gray-500 text-xs font-medium mb-2"
    for="skills"
  >
    {{ label | translate }}
  </label>

  <input
    type="text"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    placeholder="Type and click enter"
    text="#ref"
    formControlName="item"
    (keydown.enter)="addToList()"
  />
</form>
